* {
    margin: 0;
    padding: 0;
}

body {
    background: #d2d2d2;
}

.container {
    width: 70%;
    margin: 5vh auto 0;
    box-shadow: #b9b9b9 0 0 6px 4px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: right;
    padding: 6px 0;
}

.body {
    height: 85vh;
    border-top: 1px solid #aaa;
    /* background-color: burlywood; */
    display: flex;
}

.person-list {
    width: 15%;
    border-right: 1px solid #aaa;
    text-align: center;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.person-list-top {
    flex-grow: 1;
    text-align: left;
}

.tperson-list-bottom {
    height: 3%;
}

.main {
    /* background-color: yellow; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.info {
    height: 80%;
    flex-grow: 1;
    /* background-color: blue; */
}

.info p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.auto-reply {
    text-align: center;
}

.send {
    border-top: 1px solid #aaa;
    /* background-color: chartreuse; */
    height: 20%;
    display: flex;
    flex-direction: column;
}

.msg {
    resize: none;
    flex-grow: 1;
    border: none;
    border-bottom: 1px #aaa;
    padding: 20px;
}

.msg:focus {
    outline: none;
}

.send-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    font-size: small;
    color: #bdbdbb;
    background-color: #fff;
}

.btn-send {
    padding: 0.2em 1em;
    border-radius: 6px;
    box-shadow: none;
}

li {
    list-style-type: none;
}