{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="icon" href="https://www.easyicon.net/api/resizeApi.php?id=1281762&size=128">#}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <title>南邮401私密会所</title>
</head>
<body onbeforeunload="f()">
<div class="container">
    <div class="header" style="background: black;height: 40px">
        <span id="nickname" style="text-align: center;vertical-align: center; display: block;padding-top: 9px;
         font-weight: bold;color: white">{{ request.session.nickname }}<font style="color: lime"> · 当前在线</font>
            </span>
    </div>
    <div class="body">
        <div class="person-list">
            <div class="person-list-top" style="padding: 20px">
                <ul id="person">
                    {% for a in person_list %}

                        <li style="margin-bottom: 20px; font-size: 20px">
                            <img src="/static/images/default-userlogo-male.png"
                                 style="width: 25px; height: 25px; margin-right: 10px" alt="">{{ a }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="tperson-list-bottom" style="height: 100px">

                <ul>
                    <hr>
                    <li style="margin-top: 20px;margin-bottom: 10px">在线人数： <span id="count"></span></li>
                </ul>
                <button class="btn-send" onclick="logout()" style="">注销当前登录</button>
            </div>
        </div>
        <div class="main">
            <div id="msg_view" class="info" style="padding: 30px; overflow: auto;"></div>
            <div class="send">
                <textarea class="msg" placeholder="输入文字一起聊天吧" onkeydown="sendShortCut(event)"></textarea>
                <div class="send-bottom">
                    <span>Enter发送，ctrl+Enter换行</span>
                    <button class="btn-send" onclick="sendBtn()">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var ws
    var ws_url = 'ws://localhost:8000/conn/'
    var nickname = '{{ request.session.nickname }}'
    var count = document.getElementById("person").getElementsByTagName("li").length
</script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</html>
